*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: Roboto,Roboto Condensed,Generica, sans-serif;  
}

body{  
  font-family: Roboto,Roboto Thin,Generica, sans-serif;  
  background-image: url("../img/BUCEILS-BUILDING-BLUE.png");
  background-size: cover;
  font-size: 100%;
}

nav{
  background: #1d6986;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15 ),
              0 3px 6px rgba(0, 0, 0, .23);

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav h2{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
  font-size: 120%;
  margin-bottom: 0px;
  letter-spacing: 6px;
  color: #ffffff;
}
nav h3{
  margin-top: 0px;
  color: #ffffff;
  padding-top: 5px;
  font-weight: inherit;
  font-size: 140%;
  margin-bottom: 0px;
  letter-spacing: 6px;
  font-family: Generica regular, sans-serif;
}

nav .logo{
  float: left;
  font-weight: 600;
  line-height: 70px;
  padding-left: 10px;
}
nav .logo-pic{
  float: left;
  /* object-fit: contain; */
  width: 60px;
  height: 60px;
  background-size: cover;
  margin-top: 10px;
  margin-left: 30px;
  resize: both;
  overflow: scroll;
}
nav ul{
  float: right;
  padding: 0;
  height: 80px;
  margin-right: 40px;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  text-align: center;
}
nav ul li{
  float: left;
  display: inline-block;
  height: 80px;
  background: #1d6986;
  text-align: center;
  /* margin: 0 5px; */
  width: 150px;
}
nav ul li a{
  color: rgb(255, 255, 255);
  line-height: 70px;
  text-decoration: none;
  font-size: 1.3em;
  padding: 40px 15px 0px 15px;
  letter-spacing: 1px;
  font-family: Roboto Light, sans-serif;
}
nav ul li a:hover{
  color: #ffc423;
  text-decoration: none;
  /* box-shadow:  inset 0 0 10px rgba(0,0,0,0.2); */
}
nav ul li:hover{
  background-color: #124254;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #124254;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul li{
 height: 50px;
}
nav ul ul li a{
  color:rgb(0, 0, 0);
}
nav ul ul li:hover{
  background-color: #e0a900;
}
nav ul ul li a:hover{
  color: #1b1b1b;
  box-shadow: none;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  background: #ffc423;
  position: relative;
  margin: 0px;
  width: 150px;
  font-size: 0.8em;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  z-index: 1;
}
nav ul ul li a{
  line-height: 50px;
  font-family: Roboto bold, sans-serif;
}
nav ul ul ul li{
  position: relative;
  font-size: 1em;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color:#ffc423;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
/* .content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
} */
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
  font-family: Generica regular, sans-serif;
}

article p{
  font-family: Roboto regular, sans-serif;
  color: white;
  font-weight: inherit;
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
}

article h1{
  font-family: Generica regular, sans-serif;
  color: #ffc423;
  font-weight: inherit;
  font-size: 55px;
  position: relative;
  letter-spacing: 3px;
  margin-top: 10px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  margin-left: 30px;
  margin-top: 190px;
  max-width: 800px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  body, section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #124254;
  color: white;
  text-align: center;
  color: #ffffff;
}
.footer p{
  font-family: Roboto Regular, sans-serif;
  letter-spacing: 6px;
  font-size: 0.8em;
}
nav img.user-profile{
  margin-top: 0;
  height: 40px;
  width: 40px;
}
/*countdown*/
.container {
  color: #333;
  float: right;
  text-align: center;
  margin-right: 10px;
  top: -250px;
  bottom: 0;
  position: relative;
  max-width: 600px;
  display: flexbox;
}

div h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}
div li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
div li span {
  display: block;
  font-size: 4.5rem;
}
#content {
  display: flex;
  padding: 1rem;
  position: relative;
}

/*On-Going Election*/
.position1, .position2, .position3, .position4, 
.position5, .position6, .position7, .position8, 
.position9, .position10, .position11, .position12{
  width: 18%;
  position:absolute;
  top: 45%;
  left: 16%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffc423;
  box-sizing: border-box;
  box-shadow:0 20px 60px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.position2, .position6, .position10{
  left: 39%;
}

.position3, .position7, .position11{
   left: 62%;
}

.position4, .position8, .position12{
  left: 85%;
}

.position5, .position6, .position7, .position8{
  top: 80%;
}

.position9, .position10, .position11, .position12{
  top: 115%;
}


.position1 h1, .position2 h1, .position3 h1, .position4 h1, 
.position5 h1, .position6 h1, .position7 h1, .position8 h1, 
.position9 h1, .position10 h1, .position11 h1, .position12 h1
{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Roboto regular;
  font-weight: inherit;
  font-size: 20px;
  position: relative;
  margin-left: 55px;
}

/*.bar1,{
  box-sizing: border-box;
  width: 95%;
  margin: 20px 0;
}*/


.bar1 p{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: Roboto regular;
    font-size: 15px;
}

.bar p:nth-child(2){
  float:right;
  position: relative;
  top: -30px;
}

.vote_percentage{
  background: #000000;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-top: 20px;
  margin-left: 60px;
}

.vote_level{
  background: #ffffff;
  width: 90%;
  height: 30px;
  border-radius: 1px; 
}

.elecstat p{
  font-family: Roboto black;
  color: #142d4f;
  font-weight: inherit;
  font-size: 40px;
  position: relative;
  letter-spacing: 1px;
  /*margin-left:500px;*/
  text-align: center;
  margin-top: 25px;
  z-index:-1000;
 }

 .anon{
  float: left;
 }

 .btn{
  border: none;
  font-style: Roboto;
  background-color:white;;
  margin-top:580px;
  margin-left: 600px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background:  #ffc423;}
.success {color: white}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

/* vote status */

.votestat p{
  font-family: Roboto black;
  color: #ffc423;
  font-weight: inherit;
  font-size: 40px;
  position: relative;
  letter-spacing: 1px;
  /*margin-left:560px;*/
  text-align: center;
  margin-top: 25px;
  z-index:-1000;
 }

.con{
    display: flex;
    margin-left: 230px;
    margin-top: 90px;
    max-width: 10px;
}

.vcontainer{
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.vcontainer .card{
  position: relative;
  width: 250px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  margin-left: 50px;
  transition: 0.5s;
}

.vcontainer .card:hover{
  /*transform:translateY(-10px);*/
  box-shadow: 0 15px 35px rgba(160, 137, 10, 0.788);
}

.vcontainer .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(73, 163, 0, 0.03);
  pointer-events: none;
  z-index:1;
}

.percent{
  position:relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background:#ffc423;
  z-index: 1000;
}

.percent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2{
  color:#003d55;
  font-weight: 700;
  margin-top: 50px;
  font-size: 30px;
  transition: 0.5s;
}

.box a{
  color:white;
  font-family: Roboto;
  font-size: 25px;
  float: left;
  margin-left: 26px;
  margin-top: 35px;
}

.box a:hover{
  color: #124254;
}

.card:hover .percent .number h2{
  color: #124254;
  font-size: 60px;
}

.percent .number h2 span{
  font-size:24px;
  color: #777;
  transition: 0.5s;
}

.card:hover .percent .number h2 span{
  color: #fff;
}

.text{
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight:700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text{
  color: #fff;
}

svg{
  position: relative;
  width: 150px;
  height:150px;
  z-index:1000;
}

svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #003d55;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2){
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #ff9124;
}

.card:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #ff9124;
}

.card:nth-child(3) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 25) / 100);
  stroke: #ff9124;
}

.card:nth-child(4) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 37) / 100);
  stroke:  #ff9124;
}

.card:nth-child(5) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 100) / 100);
  stroke:  #ff9124;
}

.card:nth-child(6) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 45) / 100);
  stroke:  #ff9124;
}

/*election archives folder*/
.arch p{
  font-family: Roboto black;
  color: #ffc423;
  font-weight: inherit;
  font-size: 40px;
  position: relative;
  letter-spacing: 1px;
  margin-left:520px;
  margin-top: 25px;
  z-index:-1000;
 }
 
.folder1{
  position: absolute;
  left: 390px;
  margin-top: 100px;
  margin-bottom: 0;
}

.folder2{
  position: absolute;
  left:650px;
  margin-top: 100px;
  margin-bottom: 0;
}

.folder3{
  position: absolute;
  left:890px;
  margin-top: 100px;
  margin-bottom: 0;
}

.fname1 a{
  font-family: Roboto black;
  color:#124254;
  font-size: 22px;
  position: relative;
  letter-spacing: 1px;
  margin-left:365px;
  margin-top: 250px;
  float: left;
}

.fname2 a{
  font-family: Roboto black;
  color: #124254;
  font-size: 22px;
  position: relative;
  letter-spacing: 1px;
  margin-left: 75px;
  margin-top: 250px;
  float: left;
}

.fname3 a{
  font-family: Roboto black;
  color:#124254;
  font-size: 22px;
  position: relative;
  letter-spacing: 1px;
  margin-left: 70px;
  margin-top: 250px;
  float: left;
}

.fname1 a:hover, .fname2 a:hover, .fname3 a:hover{
  color:white;
}

/* Election Results Report */
.report p{
  font-family: Roboto black;
  color: #ffc423;
  font-weight: inherit;
  font-size: 40px;
  position: relative;
  letter-spacing: 1px;
  /*margin-left:520px;*/
  margin-top: 25px;
  z-index:-1000;
  text-align: center;
 }
